<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agendacaracter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaCualidades"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Pensamiento"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CrearCuenta"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Referencia"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DescripcionMultimedia"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CodigoReserva"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".EvaluacionDiaria"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ResultadoEvaluacion"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Demos"
            android:label="@string/title_activity_demos" >
        </activity>
        <activity
            android:name=".TwitterActivity"
            android:label="@string/title_activity_twitter" >
        </activity>

        <service android:name="com.example.servicios.ServicioAlerta" />

        <activity
            android:name=".FacebookActivity"
            android:label="Login con Facebook" >
        </activity>
        <activity android:name="com.facebook.LoginActivity" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".AvanceMensual"
            android:label="@string/title_activity_avance_mensual" >
        </activity>
        <activity
            android:name=".CirculoCrecimiento"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ListadoMultimedia"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DescripcionPeliculas"
            android:label="@string/title_activity_descripcion_peliculas" >
        </activity>
    </application>

</manifest>